.portfolio-detail-leader-card {
  width: 95%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 3px 30px #ccd;
  padding: 25px 10px;
  background: linear-gradient(45deg, #E7FAED, #E7EFF9);


  h1, h2, h3, h4 {
    margin: 0;
    text-align: center;
    color: #333;
  }

  h2 {
    color: #777;
    opacity: .8;
  }
}

.total-card {
  width: 95%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 3px 30px #ccd;
  padding: 15px;
  background: $white;
  display: block;

  .assets-total,
  .assets-total-subtitle {
    text-align: center;
  }

  .assets-total {
    font-size: 1.75rem;
    margin-bottom: .2rem;
    font-weight: bold;
    color: #333;
  }

  .assets-total-subtitle {
    color: #777;
  }
}

.add-asset-btn-wrapper {
  width: 95%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 1.5rem;
  box-sizing: border-box;

  .btn-add-asset {
    display: block;
    box-sizing: border-box;
    border: none;
    background: $color-green-v2;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 3px 30px #ccd;

    &:hover {
      background: darken($color-green-v2, 5%);
    }
  }
}

.asset-list {
  margin: 0;
  padding: 0;
  list-style: none;

  .asset-item {
    width: 95%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 1rem;
    box-sizing: border-box;

    .asset-card {
      border-radius: 4px;
      box-shadow: 0 3px 30px #ccd;
      padding: 15px;
      background: $white;
      display: block;

      .asset-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: .75rem;
        .asset-header-title {
          span {
            display: block;
          }
        }

        .asset-value-wrapper {
          font-size: 1.75rem;
          color: #222;
          text-align: center;

          .asset-value-currency-sign {
            font-size: 1.3rem;
            line-height: 1.75rem;
            vertical-align: top;
          }
        }

        .asset-pct-change-wrapper {
          & > span {
            display: block;
          }

          .asset-pct-change {
            text-align: right;
            font-size: 1.2rem;
            position: relative;
            font-weight: bold;

            &.green {
              color: $color-green-v2;

              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                height: 0;
                width: 0;
                border: 10px solid transparent;
                border-bottom-color: $color-green-v2;
                transform: translateX(-120%) translateY(-75%);
              }
            }

            &.red {
              color: $color-red;

              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                height: 0;
                width: 0;
                border: 10px solid transparent;
                border-top-color: $color-red;
                transform: translateX(-120%) translateY(-25%);
              }
            }
          }

          .asset-pct-change-info {
            color: #777;
            font-size: .85rem;
            text-align: right;
          }
        }

        .asset-symbol {
          font-size: 1.3rem;
          font-weight: bold;
        }
        .asset-name {
          font-size: .85rem;
          color: #777;
        }
      }

      .asset-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: .75rem;
        color: #555;
        padding: 10px 0;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;

        .asset-info-section {
          span {
            display: block;
            text-align: center;
          }

          .info-text {
            font-size: .7rem;
            color: #777;
          }
        }
      }
      .asset-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn-edit {
          display: inline-block;
          box-sizing: border-box;
          color: $color-green-v2;
          text-align: center;
          padding: 4px 8px;
          border-radius: 4px;
          border: 1px solid $color-green-v2;
          text-decoration: none;
          cursor: pointer;
          font-size: .85rem;

          &:hover {
            background: $color-green-v2;
            color: $white;
          }
        }

        .btn-delete {
          display: inline-block;
          box-sizing: border-box;
          color: $color-red;
          text-align: center;
          padding: 4px 8px;
          border-radius: 4px;
          border: 1px solid $color-red;
          text-decoration: none;
          cursor: pointer;
          font-size: .85rem;

          &:hover {
            background: $color-red;
            color: $white;
          }
        }
      }
    }
  }
}

.delete-portfolio-form{
  width: 95%;
  max-width: 400px;
  margin: auto;
}

.btn-delete-portfolio {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: $white;
  color: $color-red;
  text-align: center;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid $color-red;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 3px 30px #ccd;
  margin-bottom: 1rem;

  &:hover {
    background: $color-red;
    color: $white;
  }
}
