.portfolio-list-wrapper {
  width: 95%;
  max-width: 400px;
  margin: auto;

  .leader-card {
    border-radius: 4px;
    box-shadow: 0 3px 30px #ccd;
    padding: 15px;
    background: linear-gradient(45deg, #E7FAED, #E7EFF9);
    margin-bottom: 2rem;

    h2 {
      text-align: center;
    }
  }

  .action-btns {
    text-align: center;
  }

  .btn-create-portfolio {
    display: block;
    box-sizing: border-box;
    border: none;
    background: $color-green-v2;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 3px 30px #ccd;
    margin-bottom: 2rem;

    &:hover {
      background: darken($color-green-v2, 5%);
    }
  }

}

.portfolio-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.portfolio-list-item {
  margin-bottom: 1rem;
}

.portfolio-card {
  border-radius: 4px;
  box-shadow: 0 3px 30px #ccd;
  padding: 15px;
  background: $white;
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;

  &:hover {
    .actions {
      .btn-view {
        background: $color-green-v2;
        color: $white;
      }
    }
  }

  .portfolio-info {
  }

  .portfolio-name,
  .portfolio-value-outer {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: .5rem;
  }

  .portfolio-value {
    color: #555;
    font-weight: bold;
    font-size: 2rem;
  }

  .portfolio-asset-count {
    text-align: center;
    margin-bottom: .5rem;
  }

  .actions {
    text-align: center;

    .btn-view {
      display: inline-block;
      box-sizing: border-box;
      color: $color-green-v2;
      text-align: center;
      margin: auto;
      padding: 10px 15px;
      border-radius: 4px;
      border: 1px solid $color-green-v2;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .portfolio-pct-change-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;

    > span {
      display: block;
    }

    .portfolio-pct-change {
      text-align: right;
      font-size: 1.2rem;
      position: relative;
      font-weight: bold;

      &.green {
        color: $color-green-v2;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          height: 0;
          width: 0;
          border: 10px solid transparent;
          border-bottom-color: $color-green-v2;
          transform: translateX(-120%) translateY(-75%);
        }
      }

      &.red {
        color: $color-red;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          height: 0;
          width: 0;
          border: 10px solid transparent;
          border-top-color: $color-red;
          transform: translateX(-120%) translateY(-25%);
        }
      }
    }

    .portfolio-pct-change-info {
      color: #777;
      font-size: .85rem;
      text-align: right;
    }
  }
}
