.asset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  line-height: 1;

  .asset-list-header,
  .asset-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .asset-type,
    .asset-balance,
    .asset-price,
    .asset-price-original,
    .asset-value,
    .asset-change,
    .asset-port-percent,
    .asset-controls {
      padding: 20px 10px 18px;
    }

    .asset-type {
      width: 25%;
    }

    .asset-balance {
      width: 10%;
    }

    .asset-price {
      width: 10%;
    }

    .asset-price-original {
      width: 10%;
    }

    .asset-value {
      width: 15%;
    }

    .asset-change {
      width: 10%;
    }

    .asset-port-percent {
      width: 10%;
    }

    .asset-controls {
      width: 15%;
    }
  }

  .asset-list-header {
    .asset-type,
    .asset-balance,
    .asset-price,
    .asset-price-original,
    .asset-value,
    .asset-change,
    .asset-port-percent,
    .asset-controls {
      font-weight: bold;
      text-align: center;
    }
  }

  .asset-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;

    .asset-type,
    .asset-balance,
    .asset-price,
    .asset-price-original,
    .asset-value,
    .asset-port-percent,
    .asset-change {
      border-right: 1px solid #ddd;
    }

    .asset-balance,
    .asset-price,
    .asset-price-original,
    .asset-value,
    .asset-change,
    .asset-port-percent,
    .asset-controls {
      text-align: center;
    }
  }
}
