$color-gray: #7c786a;
$color-blue: #8dcdc1;
$color-green: #d3e397;
$color-eggshell: #fff5c3;
$color-orange: #eb63ff;
$color-green-v2: #03a63c;
$color-green-light: #abdca7;
$color-green-lighter: lighten($color-green-light, 10%);
$color-red: #D14C33;
$color-blue-v2: #B9DAF0;

$white: #fff;
